.chart-view-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full viewport height */
  }
  
  .interventions-container {
    padding-bottom: 5px; /* Adjust the value as needed */
    z-index: 2;
  }
  
  .state-county-dropdowns-container {
    padding-top: 5px; /* Adjust the value as needed */
    z-index: 1;
  }
  
  .right-panel {
    height: calc(100vh - 7.5em);
    background-color: transparent; /* Background color */
    position: fixed; /* Fixes the panel to the right side */
    top: auto;    /* Adjust this value slightly if needed */
    right: 0;
    flex-direction: column;
    justify-content: flex-start; /* Align items to the top */
    border: none;
  }

  .left-panel {
    height: calc(100% - 10em); /* Full height minus top margin + footer */
    background-color: #fff;
    padding: 10px;
    position: fixed; /* Fixes the panel to the left side */
    top: 4.25em; /* Adjust this value slightly if needed */
    left: 0;
    overflow-y: auto; /* Scroll if content overflows */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Align items to the top */
    gap: 10px; /* Adjust the spacing between the buttons */
    z-index: 1;
    border-right: 2px solid black;
  }
    
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    height: 50px;
    z-index: 1000;
    transition: background-color 0.3s ease;
    border-top: 2px solid black; /* Add this line */
  }
  
  .footer-overlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Height of the footer */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1; /* Ensure it's above the footer but below the modal */
  }
  
  .timeline-panel {
    flex-grow: 1;
    margin-top: 20px;
    z-index: 3;
  }

  .middle-panel {
    position: fixed;
    left: 16em;
    top: 4.25em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden; /* Prevent scrollbars in the middle panel */
  }
  
  .map-and-chart-container {
    display: flex;
    flex-direction: column; /* Stack the map and chart vertically, change to "row" for left & right orientation */ 
    align-items: center; 
    width: calc(100vw - 40em);
    height: calc(100vh - 10em);
  }
  
  /* Make map and chart have equal height */
.map-size, .chart-size {
  flex: 1; /* Allows both map and chart to grow equally */
  width: 100%; /* Full width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.separator {
  height: 2px; /* Thickness of the line */
  background-color: #ccc; /* Color of the line */
  width: 100%; /* Full width of the container */
  margin: 15px 0; /* Margins to space out the map and chart */
  flex-shrink: 0; /* Prevent shrinking */
}

.saved-parameters-panel {
  margin-top: 5px; /* Space between the SavedParameters and the elements above */
}

.play-pause-container {
  width: 300px; /* Fixed width for the button */
  z-index: 3;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .left-panel {
    max-width: 11em;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .left-panel {
    max-width: 12em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .left-panel {
    max-width: 13em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left-panel {
    max-width: 15em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .left-panel {
    max-width: 16em;
  }
}