/* InfectedChart.css */

.infections-text {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    margin-bottom: 10px; /* Add some margin below the text */
  }
  
  .infected-chart-container {
    text-align: center; /* Center align the contents */
    position: relative; /* Ensure relative positioning */
    z-index: 1; /* Ensure it appears above other elements */
  }
  
  .map-container {
    position: relative; /* Ensure relative positioning */
    z-index: 0; /* Lower z-index to keep it below ChartParameters */
  }
  