.left-panel {
  width: 15rem;
  /* Fixed width for the left panel */
  background-color: #fff;
  /* Background color */
  padding: 10px;
  position: fixed;
  /* Fixes the panel to the left side */
  top: 4.25rem;
  /* Adjust this value slightly if needed */
  left: 0;
  height: calc(100% - 10rem);
  /* Full height minus top margin */
  overflow-y: auto;
  /* Scroll if content overflows */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* Align items to the top */
  gap: 10px;
  /* Adjust the spacing between the buttons */
  z-index: 1;
  border-right: 2px solid black;
}


button {
  width: 80%;
  padding: 10px;
  /* Adjust the padding as needed */
  box-sizing: border-box;
}