/* Legend.css */

.info.legend {
  background: white;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 0.8em;
  font-size: 14px;
  font-family: Arial, sans-serif;
  width: 10em; /* Adjust width as needed */
}

.info.legend .legend-header {
  font-size: 16px; /* Larger font size for the header */
  font-weight: bold;
  margin-bottom: 10px;
}

.info.legend .legend-item {
  display: flex;
  align-items: center;
  font-size: small; /* Font size for legend items */  
  margin-bottom: 4px;
}

.info.legend .color-box {
  width: 16px; /* Width of color box */
  height: 16px; /* Height of color box */
  margin-right: 10px; /* Spacing between color box and label */
}

.info.legend .range-label {
  font-size: 14px; /* Font size for range labels */
  flex: 1;
  text-align: left; /* Align range numbers to the right */
}

.info.legend .legend-item:last-child {
  margin-bottom: 0; /* Remove margin from the last item */
}

/* Ensure correct colors in sequence */
.info.legend .legend-item:nth-child(1) .color-box {
  background: #800026; /* 5000+ */
}

.info.legend .legend-item:nth-child(2) .color-box {
  background: #BD0026; /* 2000–5000 */
}

.info.legend .legend-item:nth-child(3) .color-box {
  background: #E31A1C; /* 1000–2000 */
}

.info.legend .legend-item:nth-child(4) .color-box {
  background: #FC4E2A; /* 500–1000 */
}

.info.legend .legend-item:nth-child(5) .color-box {
  background: #FD8D3C; /* 200–500 */
}

.info.legend .legend-item:nth-child(6) .color-box {
  background: #FEB24C; /* 100–200 */

}

.info.legend .legend-item:nth-child(7) .color-box {
  background: #FED976; /* 50–100 */
}

.info.legend .legend-item:nth-child(8) .color-box {
  background: #FFEDA0; /* 0–50 */
}

.county-tooltip {
  width: max-content;
  font-size: large;
  background-color: white;
  color: black;
  font-weight: lighter;
  border: 2px solid black;
  position: absolute;
  z-index: 9999; /* Ensure the tooltip has a high z-index */
  text-align: center;
}

/* No Outline when clicked on county */
.leaflet-container path.leaflet-interactive:focus {
  outline: none;
}
/* Rest Button Icon */
.map-reset-button {
  position: absolute;
  top: 6.5em;
  left: 0.8em;
  background-color: white;
  border: 2px solid rgb(190, 188, 188);
  border-radius: 4px;
  padding: 4px;
  z-index: 1000;
}