.parameters-form .form-group {
    margin-bottom: 1rem;
  }
  
  .parameters-form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .parameters-form input[type="text"],
  .parameters-form input[type="number"],
  .parameters-form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    font-size: 1rem;
  }  
  .parameters-form input[type="number"]::-webkit-inner-spin-button,
  .parameters-form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Hides spinner for number input in WebKit browsers */
    margin: 0;
  }
  
  .parameters-form button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .parameters-form button:hover {
    background-color: #0056b3;
  }
  
  .bold-label {
    font-weight: bold;
  }
 
  .remove-button {
    background-color: #f1f1f1;
    border: 2px solid black; /* Add a black border */
    border-radius: 4px;
  }
  
  
  .remove-button:hover {
    background-color: #6c757d; /* Change this to the gray color you want on hover */
  }