.popup {
    padding: 20px;
  }
  
  .parameters-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .form-group-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .submit-button {
    align-self: center;
    padding: 10px 20px;
  }
  