/* PlayPauseButton.css */
.scenario-button,
.pause-button {
  padding: 10px 20px;
  font-size: x-large;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: black;
  transition: background-color 0.3s;
  height: 50px;
}

.scenario-button {
  background-color: #f7b13c;
}

.pause-button {
  background-color: #f1f1f1;
  border: 2px solid black; /* Add a black border */
  border-radius: 4px;
}

.scenario-button:hover,
.pause-button:hover {
  background-color: #0056b3;
}

.scenario-button .icon,
.pause-button .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.remove-button {
  background-color: #f1f1f1;
  border: 2px solid black; /* Add a black border */
  border-radius: 4px;
}