.table-container {
  flex: auto;
  /* Remove border if present */
  border: none;
  /* padding: 10px 20px; Adjust padding if necessary */
  transform: scale(0.90);
  margin-left: 0.8em;
}

.table-scroll {
  /* Remove border if present */
  border: none;
  overflow-y: auto; /* Ensure scrolling if necessary */
  overflow-x: hidden;
  max-width: 23.5;
}

table th {
  font-size: medium; /* Adjust as needed */
  font-weight: bold;
  /* padding: 10px 10px; Reduce right-side padding */
  text-align: left; /* Ensure text aligns properly */
  position: relative; /* Allow absolute positioning of button */
}

table td {
  font-size: medium;
  padding: 7px; /* Decrease padding if needed */
}

.sort-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: medium; /* Adjust font size as needed */
    margin-left: 10px;
    width: 2px;
  }
  
  .sort-button:hover {
    background: transparent;
  }
  
  .sort-button:focus {
    outline: none; /* Removes default focus outline */
  }

  /* Container for search input and search icon */
.search-container {
  display: flex; /* Align items in a row */
  align-items: center; /* Vertically align items to the center */
  margin-bottom: 10px;
  max-width: 23.75em;
}

/* Search icon box styling */
.search-icon-box {
  background: #e5e5e5; /* Light gray background */
  padding: 8px; /* Padding around the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black; /* Black border on the top */
  border-left: 1px solid black; /* Black border on the left */
  border-bottom: 1px solid black; /* Black border on the bottom */
  height: 30px;
  width: 30px;
}

/* Search icon styling */
.search-icon {
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height to match the input field */
  display: block;
  margin: auto; /* Center the icon within the box */
}

/* Search input field styling */
.search-input {
  border: 1px solid black; /* Black border around the input field */
  outline: none; /* Remove the default outline */
  padding: 8px; /* Padding inside the input field */
  flex: 1; /* Allow the input to grow and fill available space */
  font-size: large; /* Adjust font size as needed */
  height: 30px; /* Set the height of the input to match the icon */
  border-radius: 0; /* Ensure square corners */
}