.table-container {
  border: none;
  position: relative;
  z-index: 10;
  margin: 0 auto; /* Center the container */
  padding: 0.5em; /* Add padding for better spacing */
}

.table-scroll {
  border: none;
  overflow-y: auto; /* Ensure scrolling if necessary */
  overflow-x: hidden;
  height: calc(100vh - 13.75em);
}

.table-scroll thead th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
}

table th {
  font-size: medium; /* Adjust as needed */
  font-weight: bold;
  text-align: left; /* Ensure text aligns properly */
  position: relative; /* Allow absolute positioning of button */
  border: 1px solid #ddd; /* Add borders between cells */
  padding: 0 6px;
}


table td {
  font-size: small;
  text-align: left;
  border: 1px solid #ddd; /* Add borders between cells */
  padding: 0.55em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add border around the table */
  white-space: nowrap; /* Prevent wrapping */
}

/* Bold font for the infected count */
.bold-text {
  font-weight: bold;
}

/* Lighter font for the infected percentage */
.light-text {
  font-weight: lighter;
  font-size: small;
}

.sort-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: medium; /* Adjust font size as needed */
  width: 2px;
}
  
.sort-button:hover {
  background: transparent;
}
  
.sort-button:focus {
  outline: none; /* Removes default focus outline */
}

/* Container for search input and search icon */
.search-container {
  align-items: center; /* Vertically align items to the center */
  margin-bottom: 10px;
  display: flex;
}

/* Search icon box styling */
.search-icon-box {
  background: #e5e5e5; /* Light gray background */
  padding: 5px; /* Padding around the icon */
  border-top: 1px solid black; /* Black border on the top */
  border-left: 1px solid black; /* Black border on the left */
  border-bottom: 1px solid black; /* Black border on the bottom */
  height: 2.5em;
  width: 2.5em;
}

/* Search icon styling */
.search-icon {
  width: 1.5em; /* Adjust width as needed */
  height: 1.5em; /* Adjust height to match the input field */
  margin: auto; /* Center the icon within the box */
}

/* Search input field styling */
.search-input {
  border: 1px solid black; /* Black border around the input field */
  outline: none; /* Remove the default outline */
  padding: 5px; /* Padding inside the input field */
  font-size: medium; /* Adjust font size as needed */
  height: 2.5em; /* Set the height of the input to match the icon */
  border-radius: 0; /* Ensure square corners */
  flex: 1; /* Take remaining space */
}

.even-row {
  background-color: #f2f2f2; /* Set the background color for even rows */
}

.odd-row {
  background-color: #ffffff; /* Set the background color for odd rows */
}