.table-container {
  flex: auto;
  /* Remove border if present */
  border: none;
  margin-top: 2.4em;
  max-width: min-content;
}

.table-scroll {
  /* Remove border if present */
  border: none;
  overflow-y: auto; /* Ensure scrolling if necessary */
  overflow-x: hidden;
}

table th {
  font-weight: bold;
  text-align: left; /* Ensure text aligns properly */
  position: relative; /* Allow absolute positioning of button */
  padding: 0.45em;
}

table td {
  padding: 0.45em; /* Decrease padding if needed */
}

.sort-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: medium; /* Adjust font size as needed */
    margin-left: 10px;
    width: 2px;
  }
  
  .sort-button:hover {
    background: transparent;
  }
  
  .sort-button:focus {
    outline: none; /* Removes default focus outline */
  }

  /* Container for search input and search icon */
.search-container {
  display: flex; /* Align items in a row */
  align-items: center; /* Vertically align items to the center */
  margin-bottom: 10px;
}

/* Search icon box styling */
.search-icon-box {
  background: #e5e5e5; /* Light gray background */
  padding: 8px; /* Padding around the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black; /* Black border on the top */
  border-left: 1px solid black; /* Black border on the left */
  border-bottom: 1px solid black; /* Black border on the bottom */
  height: 1.5em;
  width: 1.5em;
}

/* Search icon styling */
.search-icon {
  width: 1.25em; /* Adjust width as needed */
  height: 1.25em; /* Adjust height to match the input field */
  display: block;
  margin: auto; /* Center the icon within the box */
}

/* Search input field styling */
.search-input {
  border: 1px solid black; /* Black border around the input field */
  outline: none; /* Remove the default outline */
  padding: 8px; /* Padding inside the input field */
  flex: 1; /* Allow the input to grow and fill available space */
  font-size: medium; /* Adjust font size as needed */
  height: 1.5em; /* Set the height of the input to match the icon */
  border-radius: 0; /* Ensure square corners */
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  table th {
    font-size: 0.55em;
  }
  table td {
    font-size: 0.50em;
  }
  .table-container {
    max-width: min-content;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  table th {
    font-size: 0.65em;
  }
  table td {
    font-size: 0.60em;
  }
  .table-container {
    max-width: min-content;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  table td {
    font-size: 0.70em;
  }
  table td {
    font-size: 0.65em;
  }
  .table-container {
    max-width: min-content;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  table th {
    font-size: 0.75em;
  }
  table td {
    font-size: 0.70em;
  }
  .table-container {
    max-width: min-content;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  table th {
    font-size: 0.85em;
  }
  table td {
    font-size: 0.75em;
  }
  .table-container {
    max-width: min-content;
  }
}