/* TimelineSlider.css */

.timeline-slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.timeline-container {
  flex-grow: 1;
  max-width: 100%;
  height: 2rem; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  margin-left: -2em;
}

.timeline-slider {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: 0.35rem;
}

.timeline-item {
  cursor: pointer;
  text-align: center;
  position: relative;
}

.timeline-item .timeline-date {
  position: absolute;
  top: 1px; /* Adjust to position the number under the line */
  left: 50%;
  transform: translateX(-50%);
  font-size: medium;
}

.timeline-item.active .timeline-date {
  font-weight: bold;
}

.rc-slider {
  width: 100%;
  position: relative;
}

.rc-slider-handle {
  margin-top: -5px; /* Adjust to align the slider handle with the line */
  border-color: #007bff;
  height: 20px;
  width: 20px;
  background-color: #007bff;
}

.rc-slider-rail {
  background-color: #ccc;
  height: 10px;
}

.rc-slider-track {
  background-color: #007bff;
  height: 10px;
}

.timeline-title {
  position: absolute;
  bottom: 0;
  font-weight: bolder;
}