.chart-view-container {
  display: flex;
  flex-direction: row;
}

.home-container{
  top: 4.25em;
}

.interventions-container {
  padding-bottom: 5px; /* Adjust the value as needed */
  z-index: 2;
}

.state-county-dropdowns-container {
  padding-top: 5px; /* Adjust the value as needed */
  z-index: 1;
}

.right-panel {
  top: auto;
  background-color: transparent; /* Background color */
  position: relative; /* Fixes the panel to the right side */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  border: none;
}

.left-panel {
  top: auto;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  position: relative; /* Fixes the panel to the left side */
  overflow-y: auto; /* Scroll if content overflows */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Align items to the top */
  gap: 10px; /* Adjust the spacing between the buttons */
  z-index: 1;
  border-right: 2px solid black;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fa;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em;
  z-index: 1000;
  transition: background-color 0.3s ease;
  border-top: 2px solid black; 
}


.footer-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5em; /* Height of the footer */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  z-index: 1; /* Ensure it's above the footer but below the modal */
}

.timeline-panel {
  flex-grow: 1;
  margin-top: 20px;
  z-index: 3;
}

.play-pause-container {
  width: 300px; /* Fixed width for the button */
  z-index: 3;
}

.map-and-chart-container {
  position: relative;
}

/* Make map and chart have equal height */
.map-size, .chart-size {
  flex: 1; /* Allows both map and chart to grow equally */
  width: 100%; /* Full width of the container */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.separator {
  height: 2px; /* Thickness of the line */
  background-color: #ccc; /* Color of the line */
  width: 100%; /* Full width of the container */
  margin: 15px 0; /* Margins to space out the map and chart */
  flex-shrink: 0; /* Prevent shrinking */
}

.saved-parameters-panel {
  margin-top: 0em; /* Space between the SavedParameters and the elements above */
}

.top-middle-panel {
  position: relative;
  top: 4.95em;
  overflow: hidden;
  left: 85%;
  z-index: 99;
  width: max-content;
  margin-top: -4.25em;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
  .top-middle-panel {
    left: 75%;
    top: 5.5em;
  }
}

.radio-buttons-container {
  position: relative;
}

.radio-button {
  display: flex;
  align-items: center;
  font-size: medium;
  margin-right: 10%;
}

.radio-button input[type="radio"] {
  width: 0.5em; /* Increased radio button size */
  height: 0.5em; /* Increased radio button size */
  justify-content: center;
  margin-right: 0.5em;
  cursor: pointer; /* Ensure it's clear that it's clickable */
}

.radio-buttons-header h3 {
  font-size: medium; /* Adjust font size */
  text-align: center;
}