/* Start of Form Group Scetions  -- In the Modal */
.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"],
input[type="radio"],
.centered-input, #scenarioSelection {
  text-align: center;
  font-size: medium;
  padding: 8px;
  margin-bottom: 0.15em;
  height: 20%;
  width: 100%;
  border: 1px solid #ccc;
}


.radio-group label {
  margin-left: 5px;
  line-height: 1;
}

#scenarioSelection {
  width: 101%;
  font-size: medium;
}

button {
  padding: 10px 15px;
  background-color: #f7b13c;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Tooltip Section -- In the Modal */
.tooltips {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
}

.tooltips-text {
  visibility: hidden;
  background-color: white;
  color: black;
  font-weight: lighter;
  border-radius: 6px;
  border: 2px solid black;
  padding: 7px;
  position: absolute;
  z-index: 9999 !important;
  bottom: 0;
  left: 50%;
  margin-left: -300px;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: left;
  width: 18.5em;
}

.tooltips:hover .tooltips-text {
  visibility: visible;
  opacity: 1;
}

.toggletip-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  vertical-align: middle;
}

/* Save and Remove Buttons Section  -- In the Modal*/
.save_button {
  padding: 5em 5em auto auto;
  margin: 0.5rem auto 0;
  width: 17rem;
  font-size: medium;
}

button[type="submit"] {
  background-color: orange !important;
  color: black !important;
}

.remove-button {
  background-color: #f1f1f1;
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 0.3rem;
}

.remove-button:hover {
  background-color: #6c757d;
}

.cases-table{
  max-width: min-content;
  margin-right: auto;
  margin-left: auto;
}

th, tr, .cases-table{
  z-index: -1;
}

/* End of Form Group Scetions -- In the Modal */

h3 {
  font-size: 17px;
  font-weight: lighter;
}

/* Form grous for dropdowns in "Set Scenario" & "Add Interventions" */
.add-initial-cases-form,
.intervention-form,
.parameters-form {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative;
  transform: scale(90%);
  margin-top: -1.25em;
}

.add-initial-cases-form .form-group,
.intervention-form .form-group,
.parameters-form .form-group {
  position: relative;
  z-index: 1;
}

.add-initial-cases-form .form-group:nth-child(1),
.parameters-form,
.intervention-form {
  z-index: 2;
}

.form-group input,
.form-group .county-select {
  font-size: 16px;
  z-index: 1000;
}

/* Save and Remove Buttons Section  -- In the Left Panel*/
.saved-parameters-panel {
  padding: 10px;
  font-family: Arial, sans-serif;
}

.parameter-items {
  margin-bottom: 0px;
}

.parameter-label {
  margin-bottom: 5px;
}

.parameter-value {
  font-weight: bold;
  margin-top: 5px;
}

.parameter-separator {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #7e7e7e;
}

.section-separator {
  margin: 20px 0;
  border: none;
  border-top: 2px solid #333;
}


/* Start of Initial Cases Section -- Left Panel*/
.initial-cases-section {
  margin-top: 10px;
  position: relative;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.initial-cases-section.hovered {
  background-color: #FEEFD8;
}

.section-label {
  margin-bottom: 10px;
  font-size: 16px;
}

.initial-case-items {
  margin-bottom: 10px;
}

.initial-case-info {
  font-weight: normal;
}

.case-separator {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: black;
  border: none;
  padding: 2px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 1px;
  display: flex;
  justify-content: right;
  align-items: right;
  visibility: hidden;
}

.edit-button:hover {
  background-color: transparent;
}

.edit-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background-color: transparent;
}

.initial-cases-section.hovered .edit-button {
  visibility: visible;
}
/* Ends of Initial Cases Section  -- Left Panel*/

.cfr-form {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
