.dropdown--menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-container {
  position: relative;
  z-index: 5; /* Ensure dropdown is above other modal-contents */
}

.dropdown-text {
  color: black !important;
  font-weight: bold;
  font-size: medium;
  text-align: center; /* Horizontally centers the text */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Horizontally centers the content */
  align-items: center; /* Vertically centers the content */
  height: 100%; /* Ensures the element takes up the full height of its container */
  width: 100%; /* Ensures the element takes up the full width of its container */
}

.dropdown-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 0.3s ease;
  color:black;
}

.dropdown-arrow.open {
  transform: translateY(-50%) rotate(180deg);
}

.dropdown-items {
  display: block;
  /* padding: 10px 30px; */
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  background: none;
  color: black;
  text-align: center; /* Align text to the left */
  font-size : medium;
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
}

.dropdown--menu:hover {
  background-color: white; /* Change this to the color you want on hover */
}

.dropdown-items:last-child {
  border-bottom: none; /* Remove bottom border from last items */
}

.dropdown-items:hover {
  background-color: #f0f0f0;
}

.parameters-button {
  width: 100%; /* Set a fixed width that matches the dropdown menu width */
  padding: 15px 16px; /* Ensure padding matches the dropdown itemss */
  background-color: #f7b13c; /* Example background color */
  color: white;
  font-size: medium;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center text and arrow horizontally */
  align-items: center; /* Center text and arrow vertically */
  position: relative;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.parameters-button:hover {
  background-color: #f7b13c; /* Change this to the color you want on hover */
}


.interventions-button {
  width: 100%; /* Set a fixed width that matches the dropdown menu width */
  padding: 15px 16px; /* Ensure padding matches the dropdown items */
  background-color: #f1f1f1; /* Example background color */
  color: black; /* Change text color to contrast with the background */
  font-size: large;
  font-weight: bold;
  border: 2px solid black; /* Add a black border */
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center text and arrow horizontally */
  align-items: center; /* Center text and arrow vertically */
  position: relative;
}

/* Hover effect for the Add Interventions button */
.interventions-button:hover {
  background-color: #f1f1f1; /* Change this to the gray color you want on hover */
}

/* Hover effect for the Add Interventions button */
.interventions-button:hover {
  background-color: #6c757d; /* Change this to the gray color you want on hover */
}

/* Remove border from the last item */
.dropdown-items:last-child {
  border-bottom: none;
}

/* Highlight effect for dropdown items */
.dropdown-items:hover {
  background-color: #e0e0e0; /* Light gray background on hover */
}

/* Add focus effect for accessibility */
.dropdown-items:focus {
  background-color: #f1f1f1; /* Slightly darker gray for focus state */
  outline: none; /* Remove default focus outline */
}

/* Modal overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 100000 !important;
  display: none; /* Hidden by default */
}

/* Show the overlay and modal when the modal is active */
.modal-active .modal-overlay {
  display: block;
}

.modal-active .footer {
  filter: grayscale(100%); /* Grey out the footer */
  opacity: 0.5; /* Make the footer semi-transparent */
}

.modal-active .parameters-button,
.modal-active .interventions-button {
  width: 400px;
  padding: 15px 16px;
}

/* Modal content */
.modal-contents {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  width: 30em;
  max-height: 90vh; /* Ensure it fits within the viewport height */
  overflow-y: auto; /* Add scroll if content overflows */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4; /* Ensure it is above the overlay */
  font-size: medium;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
  color: #333;
}

.modal-contents h2 {
  /* margin-bottom: 0.7em; */
  font-size: 1.25em;
}
