.chart-view-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
}

.left-panel {
  width: 300px; /* Fixed width for the left panel */
  background-color: #fff; /* Background color */
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixes the panel to the left side */
  top: 112px; /* Adjust this value slightly if needed */
  left: 0;
  height: calc(100% - 112px); /* Full height minus top margin */
  overflow-y: auto; /* Scroll if content overflows */
  z-index: 1000; /* Ensure it is on top */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
}

.interventions-container {
  padding-bottom: 5px; /* Adjust the value as needed */
}

.state-county-dropdowns-container {
  padding-top: 5px; /* Adjust the value as needed */
}

.top-panel {
  position: relative; /* Ensure dropdowns are correctly positioned within this panel */
  z-index: 10; /* Higher z-index to ensure it appears above the map */
  margin-bottom: 1rem; /* Space between top panel and the map */
}

.main-panel {
  margin-left: 300px; /* Offset to accommodate the left panel */
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100vh; /* Full viewport height */
  overflow-y: hidden; /* Prevent scrollbars in the main panel */
}

.map-section {
  height: 35%; /* Adjust height to fit the viewport */
}

.timeline-section {
  height: 10%; /* Smaller height for timeline slider */
}

.chart-section {
  margin-top: 1rem; /* Space between timeline and chart */
}

.table-section {
  height: 5%; /* Remaining space for the table */
}

/* Adjust the height for smaller screens */
@media (max-width: 768px) {
  .chart-view-container {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    position: relative; /* Adjust for smaller screens */
    margin-bottom: 20px;
    top: 0; /* Reset for mobile view */
    height: auto; /* Auto height for mobile view */
  }

  .main-panel {
    margin-left: 0;
    flex: 1;
    overflow-y: auto; /* Allow scrolling if necessary */
  }

  .map-section, .timeline-section, .chart-section, .table-section {
    height: auto; /* Auto height for mobile view */
  }
}
