.chart-view-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
}

.interventions-container {
  padding-bottom: 5px; /* Adjust the value as needed */
}

.state-county-dropdowns-container {
  padding-top: 5px; /* Adjust the value as needed */
}

.top-panel {
  position: relative; /* Ensure dropdowns are correctly positioned within this panel */
  z-index: 10; /* Higher z-index to ensure it appears above the map */
  margin-bottom: 1rem; /* Space between top panel and the map */
}

.react-grid-item {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.mapContainer, .table-container {
  width: 100%;
  height: 100%;
}

.grid-layout {
  margin-left: 310px; /* Offset to accommodate the left panel */
  flex: 1; /* Take up remaining space */
  display: flex;
  flex-direction: column;
  padding: 10px 20px; /* Increased horizontal padding */
  width: calc(100vw - 320px); /* Adjust to accommodate the left panel */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrollbars in the main panel */
}

/* Adjust the height for smaller screens */
@media (max-width: 768px) {
  .chart-view-container {
    flex-direction: column;
  }

  .grid-layout {
    margin-left: 0;
    width: 100%;
    flex: 1;
    overflow: auto; /* Allow scrolling if necessary */
  }
}
