/* Interventions.css */

.dropdown-container {
    position: relative;
  }
  
  .orange-button {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .grey-button {
    position: relative;
    background-color: #f1f1;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } 
  
  .dropdown-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    transition: transform 0.3s ease;
  }
  
  .dropdown-arrow.open {
    transform: translateY(-50%) rotate(180deg);
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 200px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    background-color: white; /* Set default background color to white */
    color: black; /* Set default text color to black */
  }
  
  .dropdown-item:hover {
    background-color: grey; /* Set hover background color to grey */
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1002;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
  }
  
  button[type="submit"] {
    background-color: orange;
    border: none;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }

  #second-drop {
    position: relative;
    z-index: 10;
    margin-top: 1rem;
  }
  