body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
    url("./fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-display: swap; 
}

@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"),
    url("./fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

.content {
  display: flex;
  flex-direction: column; /* Ensure elements are stacked vertically */
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  contain: layout;
  z-index: 20000; /* Ensure the z-index is high enough */
}

/*.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  z-index: 10001;
  overflow-y: auto;
}*/

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: #aaa;
}

.modal-close:hover {
  color: #333;
}

.panel-container {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the panel container spans the full width */
  margin-bottom: 20px; /* Ensure spacing below the panel */
}

.collapsible-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.interventions-button {
  position: relative;
  background-color: #f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
} 

.parameters-button {
  position: relative;
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
}

.form input {
  margin-bottom: 10px;
  padding: 8px;
  width: calc(100% - 16px);
}

.form button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.reset-button {
  width: 100%; /* Set a fixed width that matches the dropdown menu width */
  background-color: white;
  color: #3478F7;
  font-size: medium;
  font-weight: bold;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center text and arrow horizontally */
  align-items: center; /* Center text and arrow vertically */
  position: relative;
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
}

.confirmation-buttons {
  margin: 1em auto;
  display: inline;
  float: right;
}

.cancel-reset-button {
  cursor: pointer;
  padding: 2.5em;
  font-size: medium;
  font-weight: bolder;
  color: #3478F7;
  margin: 0 auto;
  display: inline;
}

.confirm-reset-button {
  width: 7em;
  cursor: pointer;
  font-size: medium;
  font-weight: bolder;
  border: none;
  border-radius: 0;
  background-color: #f7b13c;
  color: black;
  transition: 0.2s;
  margin: 0 auto;
  display: inline;
}

.reset-warning,  p {
  text-align: left;
  padding: 0.4em;
  font-weight: bold;
  letter-spacing: 0.25px;
}

.reset-content {
  padding: 0.5em;
}
