
.header-name {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
}

.header-logo {
  align-items: flex-start;
}

.header-right {
  font-size: 1.55em;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.tab-button {
  font-size: 1.25em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  text-decoration: none;
  margin: 2em;
  text-align: center;
}

.tab-button.active {
  border-bottom: 2px solid #dfa53d;
  font-weight: bold;
}

.tab-button:hover {
  border-bottom: 2px solid #dfa53d;
  font-weight: bold;
}

.custom-toggler.navbar-toggler {
  border-color: white;
  border-width: 2px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.tab-content {
  overflow: auto;
  margin-top: 3.6em; 
}

ul {
  text-align: center;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}