.container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #102c41;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 3em;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 4em;
  height: 4em;
}

.center-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.text-container {
  text-align: left;
  font-size: 0.8em;
  white-space: nowrap; /* Prevent the title from wrapping */
  margin-left: auto;
  padding-right: 4em;
}

.tabs {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap; /* Prevent tabs from wrapping to the next line */
  padding-right: auto;
  margin-left: auto;
}


.tab-button {
  padding: 5px 0.9em;
  width: max-content;
  cursor: pointer;
  border: none;
  background: #102c41;
  outline: none;
  transition: background-color 0.3s;
  color: white;
  margin: 0 0.5em;
  font-size: 1.2em;
  white-space: nowrap; /* Prevent tab text from wrapping */
}

.tab-button.active {
  border-bottom: 2px solid #dfa53d;
  font-weight: bold;
  background-color: #102c41;
}

.tab-button:hover {
  border-bottom: 2px solid #dfa53d;
  font-weight: bold;
  background-color: #102c41;
}


