.deceased-line-chart-container {
  width: 100%;
  height: 100%;
  /* Ensure the container itself fills its allocated space */
}

.deceased-line-chart {
  width: 100%;
  height: 100%;
  /* Ensure the chart fills its container */
}
