.App {
  display: flex;
  flex-direction: column; /* Arrange children horizontally */
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
}

header {
  margin-bottom: 20px;
}

.parametersContainer {
  width: 250px; /* Adjust width as needed */
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin-left: 10px; /* Add space between map and parameters */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-container {
  display: flex;
}

.form-container label {
  margin-left: auto;
  text-align: center;
  width: 45%; /* Adjust as needed */
}

.form-container {
  display: flex;
  flex-direction: column; /* Display children in a column */
}

.parameter {
  margin-bottom: 10px; /* Add space between parameter inputs */
}

.parameter label {
  display: block; /* Each label on a new line */
}

.TexasMap {
  flex: 1;
}

.TexasChoropleth {
  flex: 1;
}

* {
  font-family:'GilroyRegular';
}

.labelContainer {
  display: flex;
  align-items: center;
}

.labelContainer span {
  margin-right: 10px; /* Adjust margin as needed */
}

/* App.css */

.table-container {
  width: 100%;
  max-width: 400px; /* Adjust as needed for your design */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the width */
  height: 80vh; /* Make the container tall enough to show the full table */
  overflow: auto; /* Allow scrolling if content overflows */
  border: 2px solid #ccc; /* Add a border around the container */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.table-scroll {
  max-height: 100%; /* Use full height of the container */
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc; /* Add border around the table */
}

th, td {
  padding: 8px 12px;
  border: 1px solid #ddd; /* Add borders between cells */
  text-align: left;
  white-space: nowrap; /* Prevent wrapping */
}

th {
  position: relative;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
  margin-left: 8px;
  color: inherit; /* Inherit color to match text */
  position: absolute;
  right: 8px;
}

.sort-button:focus {
  outline: none; /* Remove focus outline */
}

.button-container {
  display: flex;
  gap: 10px; /* Space between buttons */
  color: #dfa53d;
}


.parameters-form {
  margin-top: 20px;
}

.dropdown-section {
  margin-bottom: 20px;

}

.dropdown-section button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-section button:hover {
  background-color: #0056b3;
}

.sections-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.section {
  width: 100%;
}

.even-row {
  background-color: #f2f2f2; /* Set the background color for even rows */
}

.odd-row {
  background-color: #ffffff; /* Set the background color for odd rows */
}

.search-container {
  display: flex;
  align-items: center;
}

.search-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  margin-right: 8px; /* Space between icon and input */
}

.search-input {
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  flex: 1; /* Take remaining space */
}


